<div class="card">
    <div class="row>">
        <div class="card-header">
            <h3 class="pb-3">Sign-up</h3>
        </div>

            
                <form id="signup-form" class="card-body">
                    <div>
                        <label for="name-signup">Name</label>
                        <input type="text" placeholder="Name" id="name-signup" />
                    </div>
                    <div>
                        <label for="email-signup">Email</label>
                        <input type="text" placeholder="Email"  id="email-signup" />
                    </div>
                    <div>
                        <label for="password-signup">Password</label>
                        <input type="password" placeholder="Password"  id="password-signup" />
                    </div>
                    <button type="submit" id="signup-btn" class="btn" >Signup!</button>
                    <a href="/login">Login instead</a>
                 </form>
              </div>
             </div>

<script src="/js/signup.js"></script>
                        
                        
                        
                        
  