<div class="container">
    <div class="row>">
        <div class="col-md-6 mx-auto p-4 m-5 border-light shadow-sm">
            <h3 class="pb-3">Sign-up</h3>

            <div class="form-style">
                <form class="signup-form">
                    <div class="form-group pb-3">
                        <input type="name" placeholder="Name" class="form-control" id="name-signup" />
                    </div>
                    <div class="form-group pb-3">
                        <input type="email" placeholder="Email" class="form-control" id="email-signup" />
                    </div>
                    <div class="form-group pb-3">
                        <input type="password" placeholder="Password" class="form-control" id="password-signup" />
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn btn-dark w-100 font-weight-bold mt-2" href="/profile"
                            type="submit">Sign-Up</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<script src="/js/signup.js"></script>